*{
    margin: 0%;
}

main{
    padding: 0px 5px;
    margin: 0px 20px;
}
header{
   background-color: aqua;
   padding: 10px;
   text-align: center;
   
}
nav{
    background-color: blue;
}
.navegation-style{
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
}
#block-aside{
    float:right;
    width: 25%;
    height: 100%;
}
.text-style{
    width: 72%;
}
h2 , p{
    padding: 5px 
}
#article-img{
    height: auto;
    width: 100%;
}
.section-inline{
     height: 130px;
    border-radius: 10px;
    display: inline-block;
}
