* { margin: 0; }

body {
    background-color: #98c1d9;
}

main {
    padding: 0 5px;
    margin: 0 20px;
    background-color: white;
    box-shadow: 1px 5px 19px black;
}

header {
   background-color: #98c1d9;
   padding: 10px;
   text-align: center;
   
}

nav {
    background-color: #293241;
    box-shadow: 1px 5px 19px black;
}

.navegation-style {
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    text-decoration: none;
}

.navegation-style > a {
    text-decoration: none;
    color: white;
}

#block-aside {
    float: right;
    width: 100px;
}

#imagem-lado {
    width: 300px;
    margin: auto;
}

.informacao { 
    display:inline-flex;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    line-height: 1.5em;
}

.texto > p{
    margin-inline-start: 10px;
}
.texto > h2, h3{   
    padding: 5px;
}


.imagens > img {
    display: block;
    margin: auto;
    margin: auto;
    height: 400px;
    padding: 10px;
    
}

