h1, p{
    text-align: center;
}
.color-mouse-one{
    color: black;
    width: 40px;
    transition: width 1s;
    text-decoration: none;
    list-style: none
    
}
.color-mouse-one:hover{
    background-color: rgba(118, 146, 118, 0.834);
    width: 90px;
    text-align: center;
}

.color-mouse-one:active{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style: none
}
